<header class="page-header">
  <p class="page-header__title">El BARBERO DORMILON</p>
  <button class="btn-login" (click)="customer()"
          [disabled]="customersWaiting.length == totalChairs">
          Ingresar un nuevo cliente
  </button>
  <p style="color: #fff;"
     *ngIf="customersWaiting.length == totalChairs">
     No hay sillas disponibles
  </p>
</header>

<body class="page-body">
  
  <div class="page-body-statistics">
    <div class="statistics-bloque" [ngClass]="{'--not-available': customersWaiting.length > 0}">
      <p class="statistics-bloque__title">Clientes esperando</p>
      <p class="statistics-bloque__user">{{ customersWaiting.length > 0? customersWaiting.length: 'Ninguno' }}</p>
    </div>
    <div class="statistics-bloque" [ngClass]="{'--available': customersWaiting.length < totalChairs }">
      <p class="statistics-bloque__title">Sillas disponibles</p>
      <p class="statistics-bloque__value">{{ totalChairs - customersWaiting.length }}</p>
    </div>
  </div>

  <div class="list-customers-waiting">
    <div class="customer-waiting__title">Cola de espera</div>
    <div class="customer-waiting-row" *ngFor="let customer of customersWaiting; let i=index; trackBy: trackByItems">
      <span class="customer-waiting__pos">({{ i }}° posición):</span>
      <span class="customer-waiting__user">{{ customer }}</span>
    </div>
    <div class="customer-waiting-row" *ngIf="customersWaiting.length == 0" >
      <span class="customer-waiting__pos"></span>
      <span class="customer-waiting__user">No hay clientes</span>
    </div>
  </div>

  <div class="barber-data">
    <div class="barber__title">
      <p>SECCIÓN CRÍTICA</p>
      <span class="barber__status --info" *ngIf="isSleeping">El barbero está durmiendo! 😴zZz</span>
      <span class="barber__status --available" *ngIf="!isSleeping && !isBusy">El barbero está despierto y libre</span>
      <span class="barber__status --not-available" *ngIf="isBusy">🕑El barbero está ocupado atendiendo a ✂ <strong>{{ customerName }}</strong></span>
      <!-- <p *ngIf="isBusy">Recortando el pelo a {{ customerName }}</p> -->
    </div>
  </div>

  <div class="customer-actions">
    <div class="action-box">
      <p class="action-box__title">Cliente</p>
      <button class="action-box__btn"
              (click)="wakeUpBarber()"
              [disabled]="!isSleeping || isBusy">
              Despertar barbero
      </button>
    </div>
  </div>

</body>